### MAC OS ###
.DS_Store
### MAC OS ###

### EDITORS ###
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
### EDITORS ###

### GOLANG ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
### GOLANG ###

### JAVASCRIPT ###
node_modules
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
### JAVASCRIPT ###
